# .gitignore

# Arquivos sensíveis
.env
ca.pem
adoracao.sql 
!example.env     

# Dependências do Node.js
node_modules/

# Logs e databases
*.log
*.sqlite
*.db

# Ambiente de desenvolvimento
.DS_Store
.idea/
.vscode/
dist/
build/

# Arquivos de configuração local
*.local

# Testes e cobertura
coverage/
.nyc_output/

# Variáveis de ambiente do Docker
.env.local
.env.development
.env.production